body {
    background: url(hellokitty\ copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.box {
    background-color: rgba(240, 185, 67, 0.847);
    text-align: center;
    margin: 50px auto;
    width: 65%;
    height: 80vh;
    border: solid 3px white;
    border-style: dashed;
    border-radius: 30px;
    box-shadow: 4px 4px rgb(248, 221, 162);
}

@media (max-width: 500px) {
    .box {
        overflow: scroll;
    }
}

@media (max-height: 500px) {
    .box {
        overflow: scroll;
    }
}

td, th, table {
    border: solid 1px white;
    border-collapse: collapse;
}

td, th {
    width: 10%;
    transition: background-color 0.3s ease;
}

td:hover, th:hover {
    background-color: #f3d7ab;
}

.judul {
    color: white;
}

table {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5%;
    height: 70vh;
    border: solid 3px white;
    border-style: dashed;
    color: white;
}